/* .max-contain{
    background-color: black;
    display: flex;
    
} */
  .list-style li a{
    text-decoration: none;
    color: black;
    
}

.list-style{
    display: flex;
    justify-content: space-evenly;
    width: 600px;
    margin-left: 450px; 
    list-style: none;
     
} 


.logo{
    font-weight: 700;
    font-size: 30px;
} 
.my-logo {
    font-size: 21px;
    padding-left: 20px;
    display: flex;
    width: 500px;
    justify-content: space-between;
    align-items: center;
    
}
 
.mini-contain{
    display: flex;
    justify-content: space-between;
    align-items: center;
}