.first-contain img{
    width: 95%;
    height: 870px;
    background-image: linear-gradient(rgba(4,9,30,0.7),rgba(4,9,30,0.7));
    background-position: center;
    background-size: cover;
    position: relative; 
  
}
.text-box{
    width: 90%;
    position: absolute; 
    color: rgb(185, 23, 23);
    /* left: 50%; */
    top: 100%; 
    /* text-align: center;  */
    
}
.text-box p{
    margin: 10px 0 40px;
    font-size: 14px;
}

/* .first-contain img{
 min-height: 700px;
   width: 100%;
    width: 95%;
    height: 870px;
    background-image: linear-gradient(rgba(4,9,30,0.7),rgba(4,9,30,0.7));
    background-position: center;
    background-size: cover;
    position: relative; 
} */
.second-contain{
    display: flex;
    justify-content: center; 
    /* background-color: aqua;  */

}

.tailor-pics img{
    width: 500px;
    height: 700px;
    margin-left: 300px;

} 
 .second-contain p{
    width: 300px;
    font-size: 25px;
    margin-top: 100px;
}
.Social-MBtn  {
   display: flex;
   margin-top: 150px;
   margin-right: 50px;  
   justify-content:space-evenly; 
   
} 
.youtubeBtn{
    width: 100px; 
    height: 40px;
    color:white;
    background-color: red;
    border-radius: 7px;
    border: none;
    font-size: 17px;
}
.instagramBtn{
    width: 100px;
    height: 40px;
    color:white;
    background-color: rgb(160, 108, 171);
    border-radius: 7px;
    border: none;
    font-size: 17px;
}
.third-contain{
    display: flex;
    justify-content: center;

}
.softw-pics img{
    width: 730px;
    height: 600px;
    margin-right:200px; 
}
.third-contain p{
    width: 200px;
    font-size: 25px; 
    margin-top: 100px;

}
.linkedinBtn{
    margin-top: 90px;
    width: 120px;
    height: 40px;
    border-radius: 7px;
    background-color: black;
    color: white;
    font-size: 17px;
    border: none;
}
.fourth-contain{
    display:flex;
    justify-content: center;
}
.teach-pics img{
    width: 400px;
    height: 750px;
    margin-left: 500px;
}
.fourth-contain p{
    width: 300px;
    font-size: 30px;
    margin-top: 150px;

}  